@{
    ViewData["Title"] = "Denunciado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel


<div class="row">
   <h1>HIIIIIIIIIIIIII!</h1>
</div> 
 


@section Scripts {
    <script>

        var language = "Español";
        $(document).ready(function () {
           
            language = Storages.localStorage.get('jq-appLang');
             
            $(".jsDataLanguaje").click(function () {
                language = $(this).text();
                Storages.localStorage.set(STORAGEKEY, 'es');             
            });
        });
        
    </script> 
}








