
@model Place

@{
    ViewData["Title"] = "Editar Lugar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="EditPlace" enctype="multipart/form-data">
    <div class="container-fluid">
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        

        <div class="row">
            <div class="col-sm-4">
                <label class="control-label"> Lugar </label>
                <input asp-for="Name"
                       class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

         

        

        <br /><br />
        <div class="row text-center">
            <div class=" col-sm-12">

                <a asp-action="Index" class="btn btn-lg btn-warning">
                    <i class="fa fa-times "></i> Cancelar y Volver Atras
                </a>
                <button type="submit" class="btn btn-lg btn-primary">
                    <i class="fa fa-save"></i>       Guardar y Procesar Cambios
                </button>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}



