<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav">
           

            <li class="nav-heading">
                <span> &nbsp;</span>
            </li>
          
            <li class="">
                <a asp-action="" asp-controller="">

                    <span> &nbsp;</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            { 
                <li class="">
                    <a asp-action="Index"
                       asp-controller="Proposals" >
                        <em class="fa fa-cog"></em>
                        <span  data-localize="home.optionGeneralAdministration">Proposals</span>
                    </a>
                </li> 
            }
          
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
