@{
    ViewData["Title"] = "Proposals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel


<div class="row">
    <div style="text-align: center;">

        



    </div>
</div>
 

@section Scripts {
   
}








