@using Denounces.Domain.Helpers
@model Denounces.Domain.Entities.Cor.Owner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefixExp" class="control-label"></label>
                <input asp-for="PrefixExp" class="form-control" />
                <span asp-validation-for="PrefixExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefixFact" class="control-label"></label>
                <input asp-for="PrefixFact" class="form-control" />
                <span asp-validation-for="PrefixFact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefixOrder" class="control-label"></label>
                <input asp-for="PrefixOrder" class="form-control" />
                <span asp-validation-for="PrefixOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefixNcf" class="control-label"></label>
                <input asp-for="PrefixNcf" class="form-control" />
                <span asp-validation-for="PrefixNcf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeqNcf" class="control-label"></label>
                <input asp-for="SeqNcf" class="form-control" />
                <span asp-validation-for="SeqNcf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefixFinalFact" class="control-label"></label>
                <input asp-for="PrefixFinalFact" class="form-control" />
                <span asp-validation-for="PrefixFinalFact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcfEnds" class="control-label"></label>
                <input asp-for="NcfEnds" class="form-control" />
                <span asp-validation-for="NcfEnds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeqFact" class="control-label"></label>
                <input asp-for="SeqFact" class="form-control" />
                <span asp-validation-for="SeqFact" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="OwnerType" class="control-label"></label>
                <select asp-for="OwnerType" asp-items="Html.GetEnumSelectList<OwnerType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="OwnerType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
