@model IEnumerable<Denounces.Domain.Entities.Cor.Zone>

@{
    ViewData["Title"] = "Listado de Zonas (Areas, Edificios, Pisos, Planteles)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index" asp-controller="Options" asp-area="Administration" class="btn btn-success">
        <i class="fa fa-reply-all"></i>
        Regresar al Inicio
    </a>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Registrar Nueva Zona (Area, Edificio, Piso, Plantel)
    </a>
</p>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>

                    <th>
                        Nombre
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                        <td>

                            <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">
                                <i class="fa fa-list"> </i>
                                Detalles, Informacion y Listado de Espacios
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

 

