<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="~/Home">
            <div class="brand-logo">
                <img class="img-fluid" src="~/images/logo.png" alt="Mersy Logo" style="max-height:50px;max-width:50px">
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-fluid" src="~/images/logo-single.png" alt="Mersy Logo" style="max-height:50px;max-width:50px">
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Left navbar-->
    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a   title="Menu y Opciones"
               class="nav-link d-none d-md-block d-lg-block d-xl-block menuAndOptions"
               href="#" data-trigger-resize=""
               data-toggle-state="aside-collapsed">
                <em class="fas fa-bars"></em>
            </a>

            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a title="Menu y Opciones" class="nav-link sidebar-toggle d-md-none menuAndOptions"
               href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                <em class="fas fa-bars"></em>
            </a>
        </li>
        <!-- START User avatar toggle-->
        @*<li class="nav-item d-none d-md-block">
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
               <a class="nav-link" id="user-block-toggle" href="#user-block" data-toggle="collapse">
                    <em class="icon-user"></em>
                </a>
            </li>*@
        <!-- END User avatar toggle-->
        <!-- START lock screen-->
        <li class="nav-item d-none d-md-block">

            <a class="nav-link" id="logoutButonNav"
               asp-controller="Account"
               asp-action="Logout"
               title="Bloquear la Pantalla/Cerrar Sesion">
                <em class="icon-lock"></em>
            </a>
        </li>
        <!-- END lock screen-->
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">
        <!-- Search icon-->
        @*<li class="nav-item">
            <a class="nav-link" href="#" data-search-open="" title="Buscador de Opciones">
                <em class="icon-magnifier"></em>
            </a>
        </li>*@
        <!-- Fullscreen (only desktops)-->
        <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#" data-toggle-fullscreen="" id="expandFullScreenButon"
               title="Expandir a Pantalla Completa">
                <em class="fa fa-expand"></em>
            </a>
        </li>
        <!-- START Alert menu-->
        @*<li class="nav-item dropdown dropdown-list">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown" title="Notificaciones">
                <em class="icon-bell"></em>
                <span class="badge badge-danger">11</span>
            </a>
            <!-- START Dropdown menu-->
            <div class="dropdown-menu dropdown-menu-right animated flipInX">
                <div class="dropdown-item">
                    <!-- START list group-->
                    <div class="list-group">
                        <!-- list item-->
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <em class="fab fa-twitter fa-2x text-info"></em>
                                </div>
                                <div class="media-body">
                                    <p class="m-0">New followers</p>
                                    <p class="m-0 text-muted text-sm">1 new follower</p>
                                </div>
                            </div>
                        </div>
                        <!-- list item-->
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <em class="fa fa-envelope fa-2x text-warning"></em>
                                </div>
                                <div class="media-body">
                                    <p class="m-0">New e-mails</p>
                                    <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                </div>
                            </div>
                        </div>
                        <!-- list item-->
                        <div class="list-group-item list-group-item-action">
                            <div class="media">
                                <div class="align-self-start mr-2">
                                    <em class="fa fa-tasks fa-2x text-success"></em>
                                </div>
                                <div class="media-body">
                                    <p class="m-0">Pending Tasks</p>
                                    <p class="m-0 text-muted text-sm">11 pending task</p>
                                </div>
                            </div>
                        </div>
                        <!-- last list item-->
                        <div class="list-group-item list-group-item-action">
                            <span class="d-flex align-items-center">
                                <span class="text-sm">More notifications</span>
                                <span class="badge badge-danger ml-auto">14</span>
                            </span>
                        </div>
                    </div>
                    <!-- END list group-->
                </div>
            </div>
            <!-- END Dropdown menu-->
        </li>*@
        <!-- END Alert menu-->
        <!-- START Offsidebar button-->
       
        <li class="nav-item">
            <a class="nav-link d-none d-md-block d-lg-block d-xl-block"  id="visualStylesButon"
               href="#" data-toggle-state="offsidebar-open" 
               data-no-persist="true" title="Configuracion de Estilos Visuales">
                <em class="icon-notebook"></em>
            </a>
        </li>

        @*<li class="nav-item dropdown">
            <select id="language" class="nav-item d-none d-md-block d-lg-block d-xl-block form-control">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="zh">Chinese (Simplified)</option>
            </select>
            <select id="language" class="nav-item d-md-none custom-select-sm">
                <option value="es">es</option>
                <option value="en">en</option>
                <option value="fr">fr</option>
                <option value="zh">zh</option>
            </select>
        </li>*@
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"
                   asp-area="" asp-controller="Account" asp-action="ChangeUser">
                    @this.User.Identity.Name

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" data-localize="general.alerts" >Alertas </a>
                    <a class="dropdown-item" href="#"  data-localize="user.myInformation">Mi Informacion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area=""
                       asp-controller="Account"
                       asp-action="Logout" data-localize="user.closeSession">Cerrar Sesion/Salir</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-localize="general.help">Ayuda</a>
                </div>
            </li>
        }

        <!-- END Offsidebar menu-->
    </ul>
    <!-- END Right Navbar-->
    <!-- START Search form-->
    <form class="navbar-form" role="search" action="search.html">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Escriba y pulse enter ..." id="inputSearch">
            <div class="fa fa-times navbar-form-close" data-search-dismiss=""></div>
        </div>
        <button class="d-none" type="submit">Submit</button>
    </form>
    <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
